<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/banner-04.png" alt="First slide">
        </div>
      </div>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">About <span class="text-muted">Tuxemon.</span></h2>
          <p class="lead">Tuxemon is a completely free, open source turn-based monster fighting RPG. Tuxemon has been completely written from scratch and contains all original code. In the spirit of other open source clones like <a href='http://supertux.lethargik.org/'>SuperTux</a> and <a href='http://supertuxkart.sourceforge.net/'>SuperTuxKart</a>, Tuxemon aims to create an open source game with its own unique style that sets it apart from other monster fighting RPGs.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/featurette-01.png" alt="About">
        </div>
      </div>

      <hr class="featurette-divider">

          <p class="lead">Right now only a limited amount of assets exist for Tuxemon. If you're interested in helping create assets for Tuxemon, take a look at the <a href="http://forum.tuxemon.org/viewforum.php?id=4">art contribution forum</a> for more details.</p>
	  <p class="lead">Note that <b>Tuxemon is currently alpha-level software.</b> Almost all of the game's content is still yet to be created, but much of the backend systems such as the event engine, combat system, dialog, and map systems have been implemented in some way. The current release has a two maps that you can walk around in that demonstrates some of the functions that have been implemented so far. </p>


      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>

