<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <a id="multiplayer"></a>
      <div class="row featurette">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <h4 class="featurette-heading">Project Balance</h2>
                        <hr>
                        <h2>$23.72</h2>
                    </div>
                    <div class="col-lg-8">
          <h2 class="featurette-heading">Donations </h2>
                <hr>
            <p class="lead">Tuxemon is a community built project.</p>
                    <table class="table table-condensed">
                    <tr class="accordion-toggle"  data-toggle="collapse" data-target="#collapseOne">
                        <td><center>JAN<br/><b>19</b><br/>2016</center></td>
                        <td>Benedikt T.<br><small>Donation received</small></br></td>
                        <td><div class="text-success"><b>+</b></div>$25.00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3">
                            <div id="collapseOne" class="collapse in">
                                <table class="table table-condensed">
                                    <tr><td><b>Donation details</b></td></tr>
                                    <tr><td>Send by Benedikt T.</td><td>$25.00</td></tr>
                                    <tr><td>PayPal Fee</td><td>- $1.28</td></tr>
                                    <tr><td><b>Amount</td><td>$23.72</td></tr>
                                </table>
                            </div>
                        </td>
                    </table>
                    </div>
                </div>
            </div>

      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>
