<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <h4 class="featurette-heading">Project <span class="text-muted">Balance</span></h2>
                        <hr>
                        <h2>$23.72</h2>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="PQQLZMXJTS4KN">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                    <div class="col-lg-8">
                        <h2 class="featurette-heading">Donations </h2>
                        <hr>
                        <p>Tuxemon is a community built project. While regular art and code contributions are most valuable, we do accept donations. Any money donated to the project will go directly towards paying new or existing artists, musicians, or developers to work on the project. This would include things like paying artist commission to work on new tilesets or character sprite sheets, etc. </p>
                        <p>For transparency reasons, all accepted donations are posted here along with what that donation was used for to help further the Tuxemon project. If you would like your donation to remain anonymous, please include this request in your donation.</p>
                        <h2 class="featurette-heading">Current <span class="text-muted">Donations</span></h2>
                        <table class="table table-condensed">
                        <tr class="accordion-toggle"  data-toggle="collapse" data-target="#collapseOne">
                            <td><center>JAN<br/><b>19</b><br/>2016</center></td>
                            <td>Benedikt T.<br><small>Donation received</small></br></td>
                            <td><div class="text-success"><b>+</b></div>$25.00</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <div id="collapseOne" class="collapse in">
                                    <table class="table table-condensed">
                                        <tr><td><b>Donation details</b></td></tr>
                                        <tr><td>Send by Benedikt T.</td><td>$25.00</td></tr>
                                        <tr><td>PayPal Fee</td><td>- $1.28</td></tr>
                                        <tr><td><b>Amount</td><td>$23.72</td></tr>
                                    </table>
                                </div>
                            </td>
                        </table>
                    </div>
                </div>
            </div>

      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>
