<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <a id="multiplayer"></a>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Download <span class="text-muted">Tuxemon.</span></h2>
	  <p class="lead">Note that <b>Tuxemon is currently alpha-level software.</b> Almost all of the game's content is still yet to be created, but much of the backend systems such as the event engine, combat system, dialog, and map systems have been implemented in some way.</p>
          <p class="lead">If you would still like to download Tuxemon knowing this, you can download the latest build here:</p>
          <p class="lead"><a href='windows-install.html'>Windows</a></p>
          <p class="lead"><a href='linux-install.html'>Linux</a></p>
          <p class="lead"><a href='mac-install.html'>Mac OSX</a></p>
          <p class="lead"><a href='android-install.html'>Android</a></p>
          <p class="lead"><a href='gcwzero-install.html'>GCW-Zero</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/featurette-02.png" alt="Multiplayer">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>
