<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Fedora <span class="text-muted">Install.</span></h2>
          <p class="lead"><b><h3>Source</h3></b></p>
          <p class="lead">Use the following steps to run Tuxemon on <b>Fedora</b> from source:</p>
          <p class="lead">1. Run the following commands to install Tuxemon's dependencies: <br><code>sudo yum install pygame python-pip python-pillow git<br>sudo pip install pytmx<br>sudo pip install netifaces<br>sudo pip install six<br>sudo pip install neteria</code></p>
          <p class="lead">2. Download the latest development version of Tuxemon <a href='https://github.com/Tuxemon/Tuxemon/releases'>here</a> and extract the archive to a folder.</p>
          <p class="lead">3. Run the game by running <code>python tuxemon.py</code> from a terminal.</p>

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/fedora.svg" alt="Fedora Install">
        </div>
      </div>

      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->

 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>

