<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">IRC <span class="text-muted">Channels.</span></h2>
          <p class="lead">Tuxemon has a home in the freenode IRC network. We generally talk about the game, keep users updated, and work on developing Tuxemon. You can connect using <a href="https://webchat.freenode.net/?channels=tuxemon">web chat</a> or any compatible IRC client. The following channels are available on <i>chat.freenode.net</i>:</p>
          <ul>
              <li><p class="lead"><a href="ircs://chat.freenode.net/#tuxemon">#tuxemon</a>: the main channel for discussion and general support.</p></li>
	      <li><p class="lead"><a href="ircs://chat.freenode.net/##tuxemon">##tuxemon</a>: the social and off-topic channel for discussion not directly related to Tuxemon.</p></li>
          </ul>
	  <p class="lead">Wikipedia has an extensive <a href="https://en.wikipedia.org/wiki/Comparison_of_Internet_Relay_Chat_clients#Operating_system_support">list of IRC clients classified by platform support</a>.
	  <p class="lead">IRC logs are available <a href="irclogs">here</a>.
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/featurette-02.png" alt="Linux Install">
        </div>
      </div>

      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->

 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>
