<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Linux <span class="text-muted">Install.</span></h2>
          <p class="lead"><a href='ubuntu-install.html'>Ubuntu</a></p>
          <p class="lead"><a href='fedora-install.html'>Fedora</a></p>
          <p class="lead"><a href='arch-install.html'>Arch Linux</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/tux.png" alt="Linux Install">
        </div>
      </div>

      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->

 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>

