<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Mac OSX <span class="text-muted">Install.</span></h2>
          <p class="lead"><b><h3>Source</h3></b></p>
          <p class="lead">Use the following steps to run Tuxemon on <b>Mac OSX Yosemite</b> from source:</p>
          <p class="lead">1. From a terminal, install homebrew: <br><code>ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</code></p>
          <p class="lead">2. Instruct homebrew that you want to use python, then update. <br><code>brew tap Homebrew/python</br>brew update</code></p>
          <p class="lead">3. Install homebrew's version of python as it is newer/better than the default: <br><code>brew install python</code></p>
          <p class="lead">4. Install the dependencies for pygame: <br><code>brew install sdl sdl_image sdl_mixer sdl_ttf portmidi hg git</code></p>
          <p class="lead">5. Install all of the dependencies via pip: <br><code>pip install pytmx</br>pip install pillow<br>pip install netifaces<br>git clone https://github.com/ShadowBlip/Neteria.git<br>cd Neteria && python setup.py install</code><br><code>pip install hg+http://bitbucket.org/pygame/pygame</code></br></p>
          <p class="lead">6. Download the latest development version of Tuxemon <a href='files/builds/tuxemon-unstable-latest.tgz'>here</a> and extract the archive to a folder.</p>
          <p class="lead">7. Run the game by running <code>ulimit -n 10000; python tuxemon.py</code> from a terminal.</p>

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/mac.png" alt="Linux Install">
        </div>
      </div>

      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->


 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>

