<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <a id="multiplayer"></a>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Tuxemon <span class="text-muted">Music</span></h2>
            Coming Soon....
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>
