<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ubuntu <span class="text-muted">Install.</span></h2>
          <p class="lead"><b><h3>Source</h3></b>
          <p class="lead">Use the following steps to run Tuxemon on <b>Ubuntu</b> from source:</p>
          <p class="lead">1. Run the following commands to install Tuxemon's dependencies: <br><code>sudo apt-get install python python-pygame python-pip python-imaging python-six python-netifaces git<br>sudo pip install pytmx<br>sudo pip install neteria</code></p>
          <p class="lead">2. Download the latest development version of Tuxemon <a href='https://github.com/Tuxemon/Tuxemon/releases'>here</a> and extract the archive to a folder.</p>
          <p class="lead">3. Run the game by running <code>python tuxemon.py</code> from a terminal.</p>
          <p class="lead"><b><h3>Binary</h3></b></p>
          <p class="lead">Use the following steps to install Tuxemon on <b>Ubuntu</b> using a prebuilt deb package:</p>
          <p class="lead">1. Download the latest deb package <a href='https://github.com/Tuxemon/Tuxemon/releases'>here</a>.</p>
          <p class="lead">2. Run the following commands to install Tuxemon's dependencies: <br><code>sudo apt-get install python python-pygame python-imaging python-netifaces python-six python-pip<br>sudo pip install pytmx<br>sudo pip install neteria</code></p>
          <p class="lead">3. Install the deb package by either double clicking on the packages or running the following command from a terminal: <br><code>sudo dpkg -i tuxemon-unstable-latest.deb</code>
          <p class="lead">4. Run the game by running <code>tuxemon</code>.</p>

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/ubuntu.png" alt="Linux Install">
        </div>
      </div>

      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->

 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>

