<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Windows <span class="text-muted">Install.</span></h2>
          <p class="lead"><b><h3>Binary</h3></b></p>
          <p class="lead">Use the following steps to run Tuxemon on Windows from the prebuilt binary: <br><font color='red' size=3><i>Note: The binary package may be outdated. For the most recent build, use the source instructions.</i></font></br></p>
          <p class="lead">1. Download the prebuild Windows package <a href='files/builds/tuxemon-unstable-win32-latest.zip'>here</a>.</p>
          <p class="lead">2. Extract the archive to a folder.</p>
          <p class="lead">3. Execute "tuxemon.exe" to launch Tuxemon.</p><br>

          <p class="lead"><b><h3>Source</b><h3></p>
          <p class="lead">Use the following steps to run Tuxemon on Windows from source:</p>
          <p class="lead">1. Download and install Python <a href='https://www.python.org/downloads/windows/'>here</a>.</p>
          <p class="lead">2. Download and install Pygame <a href='https://www.pygame.org/wiki/GettingStarted#Windows%20installation'>here</a>.</p>
          <p class="lead">3. Download and install the Python Imaging Library <a href='https://pillow.readthedocs.io/en/stable/installation.html#windows-installation'>here</a>.</p>
          <p class="lead">4. Download the latest development version of Tuxemon <a href='files/builds/tuxemon-unstable-latest.tgz'>here</a> and extract the archive to a folder.</p>
          <p class="lead">5. Double-click on "tuxemon.py" to launch Tuxemon.</p>

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/windows.png" alt="Windows Install">
        </div>
      </div>

      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->

 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>

