<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>

    <% include ../partials/navbar %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">



      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Windows <span class="text-muted">Install.</span></h2>
          <p class="lead"><b><h3>Binary</h3></b></p>
          <p class="lead">Use the following steps to run Tuxemon on Windows from the prebuilt binary: <br><font color='red' size=3><i>Note: The binary package may be outdated. For the most recent build, use the source instructions.</i></font></br></p>
          <p class="lead">1. Download the prebuild Windows package <a href='files/builds/tuxemon-unstable-win32-latest.zip'>here</a>.</p>
          <p class="lead">2. Extract the archive to a folder.</p>
          <p class="lead">3. Execute "tuxemon.exe" to launch Tuxemon.</p><br>

          <p class="lead"><b><h3>Source</b><h3></p>
          <p class="lead">Use the following steps to run Tuxemon on Windows from source:</p>
          <p class="lead">1. Download and install Python 2.7 <a href='https://www.python.org/ftp/python/2.7.8/python-2.7.8.msi'>here</a>.</p>
          <p class="lead">2. Download and install Pygame <a href='http://pygame.org/ftp/pygame-1.9.1.win32-py2.7.msi'>here</a>.</p>
          <p class="lead">3. Download and install the Python Imaging Library <a href='//effbot.org/downloads/PIL-1.1.7.win32-py2.7.exe'>here</a>.</p>
          <p class="lead">4. Download "get-pip.py" <a href='https://raw.github.com/pypa/pip/master/contrib/get-pip.py'>here</a> and save it to your Python installation directory (Default: C:\Python27). You may need to go to "File"-> "Save Page" in your browser to save the file.</p>
          <p class="lead">5. Install pip by opening up a command prompt by going to Start-> Run and typing in "cmd". Then run the following commands:<br><code>C:\Python27\python.exe C:\Python27\get-pip.py<br>C:\Python27\Scripts\pip.exe install pytmx</code></p>
          <p class="lead">6. Download the latest development version of Tuxemon <a href='files/builds/tuxemon-unstable-latest.tgz'>here</a> and extract the archive to a folder.</p>
          <p class="lead">7. Double-click on "tuxemon.py" to launch Tuxemon.</p>

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/windows.png" alt="Windows Install">
        </div>
      </div>

      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->

 </body>

 <% include ../partials/footer %>
 <% include ../partials/bootstrap_footer %>

</html>

